#title {
    text-align: center;
    font-family: Garamond, Arial;
}

#img-div {
    margin-top: 25px;
}

#image {
   max-width: 100%;
   width: 50%;
   max-height: 100%;
   height: 100%;
   display: block;
   margin: auto;
   border-radius: 15px;
   border: 3px solid black;
   box-shadow: 8px 8px 5px #b5b5b5;
}

#img-caption {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, Arial;
}

#tribute-info {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Garamond, Arial;
}

p {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Georgia, Arial;
}

#title1 {
    margin-top: 15px;
    margin-bottom: 13px;
}

#subtxt1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

#title2 {
    margin-top: 20px;
    margin-bottom: 13px;
}

#subtxt2 {
    margin-top: 0px;
    margin-bottom: 30px;
}

#title3 {
    margin-top: 20px;
    margin-bottom: 13px;
}

#subtxt3 {
    margin-top: 0px;
    margin-bottom: 30px;
}

#links {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    height: 2px;
    background: black;
}

h4 {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: Garamond, Arial;
}

body {
    background-color: #d9d9d9;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    outline-style: solid;
    outline-width: 200px;
}